@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


@mixin center-align {
  display: flex;
  align-items: center;
}
@mixin center-column {
    display: flex;
    justify-content: center;
}

.App{
  @include center-align;
  @include center-column;
  background-color: #3D339A;
  width:100vw;
  height:100vh;
  
}
@mixin column {
  display: flex;
  flex-direction: column;

}
.card{
  width: 67vw;
  height: 87vh;
  background-color: #fff; 
  border-radius: 20px;	
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.left {
  @include column;
  row-gap: 50px;
  width: 63%;
}
.right{
  row-gap: 40px;
  width: 37%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-contain{
    display: flex;
    column-gap: 20px;
    background-color: #fff;
}
.swiper-text {
  a {
    color : #ffab00;
    font-size: 13px
  };

  
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .pdp{
    width: 35px;
    height: 35px;
  }
}
.swiper-image{
  width:21vw;
  height:25vh;
  overflow: hidden;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  @include column;
  row-gap: 30px;
}
.centerJustify{
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.card-route{
  height: 26vh;
  width: 10vw;
  border-radius: 20px;
  box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.52);
  padding-block: 15px;
  padding-inline: 10px;
  justify-content: space-between;
  text-align: center;
  @include center-align;
  @include column;
}

.mySwiper{
    max-height: 25vh;
    max-width: 30vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
    
}


 @mixin rounded{
  border-radius: 50%;
  overflow: hidden;
 }
 h3{
  font-size: 18px;
  font-weight: 700
};
h4{
  font-size: 15 px
}
 .profile{
    @include center-align;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
    padding-inline: 20px;
    span{
      font-size: 12px;
      color: #3D339A;
      cursor: pointer;
    }
    .infos{
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      p{
        font-size: 13px
      }
    }
 }
 .pictos{
    @include center-align;
    flex-direction: column;
    row-gap: 7px;
 }

 .pdp{
    width: 11vh;
    height: 11vh;
    
    background-image: url("../../public/pdp.gif");
    background-size: cover;
    @include rounded;
    
 }

 .infos{
  text-align: center;
 }


 .curvie{
  height: 87.1vh;
  position: absolute;
  z-index: 99;
  top: 6.4%;
  pointer-events: none;
  left: 42%;
  path{
    fill: #3D339A;
  };
  
 }
 .cv2{
  left: 41.3%;
  path{
    fill: #6052FA;
  }
 }
 
